
.slide{
	width:75%;
    padding: 25px;
    min-width:300px;
    height:0%;
    display:block;
    text-align: center;
    margin: 0 auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
   	
   	overflow:visible;
   	text-align: center;
   	display:none;
   	max-width:750px;
}

.slide-inner{
	    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
	 	border-radius: 15px;
		padding:25px;
		position:relative;
		margin:0 auto;
	    overflow:visible;
		background-color: black;
		text-align: left;
}
.slide-inner h3{
	text-align:center;	
}

#next-slide-btn{
	float:right;
	background-color:tan;
	font-weight: bold;
	
}
#previous-slide-btn{
		float:left;
	
	
	background-color:tan;
	font-weight: bold;
	
	
}
#next-previous-btns{
		top:125px;
}