#logo{

	height:45px;
	width:45px;
	padding:5px;
}
.blackbar{
	min-height:15px;
	background-color:#333333;
}
.my-navbar{
	background-color: #444444;
	border:none;
	border-radius:0px;
}
body {
	height: 100%;
}


.wrapper {
	min-height: 100%;
	heigth: 100%;
}


nav{
	font-size:17px;
	padding-right:50px;
	
}

.cover{
	width:75%;
	margin: 0 auto;
}

#cover-btn{
	background-color:#666666;
	border:solid;
	opacity:1;
	border-color:black;
	border-width:1px;
	margin-left:25px;
	margin-right:25px;
	margin-top:15px;
	color:black;
}

.centered-form {
	margin-top: 60px;
}

.panel {
	background: #666666;
	box-shadow: #333333;
}

body {

  padding-top: 0px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.inputVariable{
	display:none;
}

#loggedInDropDown{
	display:none;
}

.container{
	width:75%;
	
	border-color: #333333;
	border-width:2px;
	margin-top:-20px;
	z-index: 2;

}

 .wrapper, .container {
 height: 100% ;
 min-height: 100%;
 }
 
 .falseback{
	left:12.5%;
	max-height:inherit;
 	position:absolute;
 	background: lightBlue;
 	width:75%;
 	opacity:.9;
 	z-index: 0;
 	overflow:hidden;
 }
 
 
 .btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */


body {
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}



 
  .falseback{
  	height: calc(100% - 65px);
	min-height: calc(100% - 65px);
  }
  
  #invalidUserOrPW{
 color:darkred;
 display: none;
 }
 #login-tab{
 display:none;
 }
 
  #homeLoggedIn, #homeNotLoggedIn, .falseback {
	min-width:500px;
}

.navbar, .blackbar{
	min-width:615px;
}
  