body {
  height: 100%;
  background-color: #aaffFF;
 background-image: url('../../public/images/signup-background.jpg');
 background-size: cover;
 }

 
 #retypePWError{
 
 color:darkred;
 display:none;
 }
 
 #emailExistsAlready{
  color:darkred;
 display:none;
 
 }
 
 #firstNameRequired{
  color:darkred;
 margin-left:20px;
 margin-bottom:2px;
 text-align: left;
 display: none;
 }
 
 #lastNameRequired{
 color:darkred;
 margin-right:20px;
 margin-bottom:2px;
 text-align: right;
 display: none;
 }