
<h3 style="margin-top: 0px">Income</h3>
<div role="form" method="post" action="signup">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6">
			<div class="form-group">
				<input type="text" name="jobTitle" id="jobTitle" class="form-control input-sm" placeholder="Job Title">
			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6">
			<div class="form-group">
				<input type="text" name="income" id="income" class="form-control input-sm" placeholder="Yearly Income">
			</div>
		</div>
	</div>
<div role="form" method="post" action="signup">
			<div class="form-group">
				<input type="text" name="incomeSource" id="incomeSource" class="form-control input-sm" placeholder="Other Income Sources">
			</div>
	</div>
	
	<div role="form" method="post" action="signup">
			<div class="form-group">
				<input type="text" name="otherIncomeAmount" id="otherIncomeAmount" class="form-control input-sm" placeholder="Other Income Monthly Amount">
			</div>
	</div>
	

</div>
$buttons$
