
<h3 style="margin-top: 0px">About You</h3>
<div role="form" method="post" action="signup">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6">
			<div class="form-group">
				<input type="text" name="first_name" id="formFirstName"
					class="form-control input-sm" placeholder="First Name">
			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6">
			<div class="form-group">
				<input type="text" name="last_name" id="formLastName"
					class="form-control input-sm" placeholder="Last Name">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6">

			<div class="form-group">
				<label for="formDOB">Date of Birth</label> <input type="date"
					name="formDOB" id="formDOB" class="form-control input-sm">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-sm-8 col-md-8">

			<div class="form-group">
					<label for="fieldSsn">Social Security Number: </label> 
					<input type="text" id="fieldSsn" class="form-control input-sm"  name="ssn" placeholder="555-55-5555" pattern="\d{3}-?\d{2}-?\d{4}">
			</div>
		</div>
	</div>

</div>
$buttons$
